@page
@model RazorPage.Pages.User.OrderHistoryModel
@{
    Layout = "../Shared/_UserLayOut";
    ViewData["Title"] = "OrderHistory";
}

<h1>OrderHistory</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].ShippedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].OrderStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Customer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Order) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.City)
            </td>
            <td>
                <a asp-page="./OrderDetail" asp-route-id="@item.OrderId">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
