@page
@model RazorPage.Pages.ManageFlower.IndexModel

@{
    Layout = "Shared/_AdminLayout";
    ViewData["Title"] = "Index";
}

<h1>Manage Flower</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form method="post" asp-page="index" asp-page-handler="search" >
    <div class="form-group">
        <label for="searchString">Search:</label>
        <input asp-for="SearchValue"  class="form-control" />
    </div>
    <button type="submit" value="Search" class="btn btn-primary" style="margin: 0 auto">Search</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FlowerBouquet[0].FlowerBouquetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlowerBouquet[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlowerBouquet[0].UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlowerBouquet[0].UnitsInStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlowerBouquet[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlowerBouquet[0].Supplier)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.FlowerBouquet) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FlowerBouquetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitsInStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier.SupplierName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.FlowerBouquetId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.FlowerBouquetId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.FlowerBouquetId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
